header, footer, .info-container{
    background-color: #17abb3;
    color: #ffffff;
}

header, main, footer{
    width: 1160px;
}

header{
    height: 240px;
    display: flex;
    justify-content: space-between;
}

mark{
    color: #ffffff;
    background-color: #17abb3;
}

figure{
    margin-left: 5rem;
}

img{
    width: 140px;
    height: 140px;
    border: 4px solid #ffffff;
    border-radius: 50%;
}

.info-container{
    margin: auto;
}

h3{
    color: #17abb3; 
    font-weight: 400;
}

.place{
    font-style: italic;
}

.date{ 
    color: #17abb3;
}

h1{
    font-size: 3.3em;
}

h2{
    font-size: 1.4em;
}

h3{
    font-size: 1.4em;
    letter-spacing: 1px;
}
