/* Pour les titres */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
    width: 1160px;
}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
}

/* Pour les contenus */

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.woff') format('woff');
    src: url('fonts/Raleway-VariableFont_wght.woff2') format('woff2');

}

body{
    font-family: 'Raleway', sans-serif;
}

ul{
    list-style-type: none;
}