header, footer{
    background-color: #17abb3;
    color: #ffffff;
}

figure{
    width: 140px;
    height: 140px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #ffffff;
    border-radius: 50%;
}

h3{
    color: #17abb3; 
    font-weight: 400;
}

.place{
    font-style: italic;
}

.date{ 
    color: #17abb3;
}

h1{
    font-size: 3.3em;
}

h2{
    font-size: 1.4em;
}

h3{
    font-size: 1.4em;
    letter-spacing: 1px;
}
